.p-search {
  padding: 5px 10px;
  & input {
    width: 100%;
    border: 1px solid var(--w-color-border);
    background-color: var(--w-color-bg);
    border-radius: 20px;
    height: var(--w-size);
    line-height: var(--w-size);
    padding: 0 var(--w-padding-x);
    cursor: pointer;
  }
}
