.w-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .w-empty-text {
    color: var(--w-color-font-2);
    white-space: nowrap;
    margin-top: var(--w-gap);
  }

  & .w-empty-icon {
    --w-empty-icon-size: 14px;
    display: inline-flex;
    font-size: var(--w-empty-icon-size);
    width: var(--w-empty-icon-size);
    height: var(--w-empty-icon-size);
    color: var(--w-color-font-2);
  }
}
