.w-date-picker {
  & .w-date-panel {
    display: flex;
    width: var(--w-date-picker-panel-width);
  }
  & .w-days {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    /* width: 100%; */
  }
  & .w-date-item {
    flex: 0 0 auto;
    width: calc(100% / 7);
    height: calc(var(--w-date-picker-panel-height) / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--w-color-font-2);
    &.w-date-item-not-current {
      color: var(--w-color-font-4);
    }
    &.w-date-item-circle {
      border-radius: 100%;
    }
    &.w-date-item-day {
      transition: var(--w-transition-time);
      cursor: pointer;
      &.w-date-item-today {
        /* background-color: var(--w-color-primary);
        color: white; */
        border: 1px solid var(--w-color-primary);
        color: var(--w-color-primary);
      }
      &:hover {
        &:not(.w-date-item-today) {
          background-color: var(--w-color-bg);
          color: var(--w-color-font-1);
        }
      }
    }
    /* &:before {
      content: '';
      display: flex;
      padding-bottom: 100%;
      vertical-align: middle;
    } */
  }
}
