.w-months {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: space-evenly;
}
.w-months-item {
  width: calc(100% / 4);
  height: calc(100% / 4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--w-color-font-2);
  user-select: none;
  border-radius: 100%;
  transition: background-color var(--w-transition-time);
  cursor: pointer;
  &:hover {
    &:not(.w-months-item-current):not(.w-months-item-selected):not(.w-months-item-disabled) {
      background-color: var(--w-color-bg);
    }
  }
  &.w-months-item-current {
    color: var(--w-color-primary);
    border: 1px solid var(--w-color-primary-light-6);
    justify-content: space-evenly;
  }
  &.w-months-item-selected {
    border: 1px solid var(--w-color-primary-light-6);
    background-color: var(--w-color-primary-light-8);
    color: var(--w-color-primary);

    font-weight: bold;
  }
  &.w-months-item-disabled {
    color: var(--w-color-font-4);
    cursor: not-allowed;
  }
}
