@import 'scale.css';
@import 'translate.css';
.w-toggle {
  position: relative;

  & .w-toggle-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: var(--__origin-x, center) var(--__origin-y, center);
  }
}
