.w-time-picker {
  padding: var(--w-gap);
  padding-top: 4px;
  width: var(--w-time-picker-panel-width);
  height: var(--w-time-picker-panel-height);
  --__width: calc(var(--w-time-picker-panel-width) - var(--w-gap) * 2);
}
