.w-icon {
  transition: var(--w-transition-time);
  display: inline-flex;
  font-size: var(--w-font-size-2);
  color: var(--w-color-font-4);
  &.w-icon-rotate-x {
    transform: rotateX(var(--w-icon-rotate-deg, 180deg));
  }
  &.w-icon-rotate-y {
    transform: rotateY(var(--w-icon-rotate-deg, 180deg));
  }
  &.w-icon-rotate-z {
    transform: rotateZ(var(--w-icon-rotate-deg, 180deg));
  }
}
