ol.w-pagination {
  list-style: none;
  padding: 0;
  margin: var(--w-gap) 0;
  display: flex;
  align-items: center;
  user-select: none;
  &.w-pagination__right {
    justify-content: flex-end;
  }
  &.w-pagination__left {
    justify-content: flex-start;
  }
  &.w-pagination__center {
    justify-content: center;
  }
  & li {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    /* &.w-pagination-total {
      margin-right: var(--w-gap);
    } */
    &.w-pagination-sizes {
      /* margin: 0 var(--w-gap); */
    }
    &.w-pagination-pager {
      /* display: flex; */

      & > span {
        /* background-color: white; */
        /* border: 1px solid var(--w-color-border); */
        /* margin-left: -1px; */
        width: var(--w-size);
        height: var(--w-size);
        text-align: center;
        line-height: var(--w-size);
        color: var(--w-color-font-2);
        transition: var(--w-transition-time);
        cursor: pointer;
        flex-shrink: 0;
        border-radius: var(--w-radius);

        &:first-child {
          border-radius: var(--w-radius) 0 0 var(--w-radius);
        }
        &:last-child {
          border-radius: 0 var(--w-radius) var(--w-radius) 0;
        }
        &.w-pagination--disabled {
          cursor: not-allowed;
        }
        &.w-pagination-prev,
        &.w-pagination-next {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            border-width: 1px;
            border-style: solid;
            border-color: var(--w-color-font-2) transparent transparent
              var(--w-color-font-2);
            transform: rotate(-45deg);
            width: 6px;
            height: 6px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
        &.w-pagination-next {
          &:after {
            transform: rotate(135deg);
            left: 11px;
          }
        }
        &:hover {
          z-index: 2;
          &:not(.w-pagination--disabled),
          &:not(.w-pagination--active) {
            background-color: var(--w-color-bg);
            font-weight: bold;
            transform: scale(1.2);
            box-shadow: inset 0 0 0 1px var(--w-color-border),
              var(--w-box-shadow);
          }
        }
        &.w-pagination--active {
          color: var(--w-color-primary);
          position: relative;
          z-index: 1;
          font-weight: bold;
          transform: scale(1.2);
          background-color: var(--w-color-primary-5);
        }
      }
    }
    &.w-pagination-go {
      margin-left: var(--w-gap);
    }
  }
}
