.w-display-none {
  display: none;
}

.w-cursor-pointer {
  cursor: pointer;
}

.w-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-no-select {
  user-select: none;
}

.w-text-placeholder {
  color: var(--w-color-font-placeholder);
}
.w-text-1 {
  color: var(--w-color-font-1);
}
.w-text-primary {
  color: var(--w-color-primary);
}
.w-overflow-hidden {
  overflow: hidden;
}
