.w-text-1 {
  color: var(--w-color-font-1);
}

.w-text-2 {
  color: var(--w-color-font-2);
}
.w-text-3 {
  color: var(--w-color-font-3);
}
.w-text-4 {
  color: var(--w-color-font-4);
}
.w-text-5 {
  color: var(--w-color-font-5);
}
