.w-fade-white-enter-active,
.w-fade-white-leave-active {
  transition: var(--w-transition-time) var(--w-cubic-bezier-quick);
}
.w-fade-white-leave-active {
  transition: var(--w-transition-time);
}

.w-fade-white-enter-from,
.w-fade-white-leave-to {
  background-color: rgba(255, 255, 255, 0) !important;
  opacity: 0;
}
.w-fade-white-enter-to,
.w-fade-white-leave-from {
  background-color: var(--w-fade-white-background-color) !important;
  opacity: 1;
}
.w-scale-enter-active,
.w-scale-leave-active {
  transition: var(--w-transition-slow-time) var(--w-cubic-bezier-quick);
}
.w-scale-leave-active {
  transition: var(--w-transition-time) var(--w-cubic-bezier);
}

.w-scale-enter-from {
  transform: scale(0, 0);
}
.w-scale-leave-to {
  transform: scale(0, 0);
  opacity: 0;
}

.w-slide-y-enter-active,
.w-slide-y-leave-active {
  transition: var(--w-transition-slow-time) var(--w-cubic-bezier-quick);
}
.w-slide-y-leave-active {
  transition: var(--w-transition-time) var(--w-cubic-bezier);
}

.w-slide-y-enter-from,
.w-slide-y-leave-to {
  transform: scale(1, 0);
  opacity: 0;
}
