:root {
  --w-color-primary: #409eff;
  --w-color-primary-3: #80bfff;
  --w-color-primary-5: #e6f2ff;
  --w-color-warning-2: #ffda54;
  --w-color-danger: rgb(255, 112, 112);
  --w-color-danger-5: rgb(255, 112, 112, 0.5);
  --w-color-font-1: #333;
  --w-color-font-2: #666;
  --w-color-font-3: #999;
  --w-color-font-4: #ccc;
  --w-color-font-5: #eee;
  --w-color-disabled: var(--w-color-font-4);
  --w-color-font: var(--w-color-font-1);
  --w-color-font-placeholder: var(--w-color-font-4);

  --w-color-border: #e1e1e1;
  --w-font-size-1: 12px;
  --w-font-size-2: 14px;
  --w-font-size-3: 16px;
  --w-font-size-4: 18px;
  --w-font-size-5: 20px;
  --w-font-size: var(--w-font-size-1);

  --w-size: 30px;

  --w-gap: 12px;
  --w-line-height: 1;

  --w-padding-x: var(--w-gap);
  --w-padding-y: 10px;

  --w-radius: 6px;
  --w-box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.09),
    0 0px 5px rgba(0, 0, 0, 0.076);

  --w-transition-time: 0.25s;
  --w-transition-slow-time: 0.5s;
  --w-transition-quick-time: 0.2s;
  --w-cubic-bezier-quick: cubic-bezier(0.4, 1, 0, 1);
  --w-cubic-bezier: cubic-bezier(0.01, 0.7, 0.53, 1);

  /* btn */
  --w-color-bg: var(--w-color-font-5);

  /* switch */
  --w-switch-width: 25px;
  --w-switch-height: 12px;
  --w-switch-valve-color: white;
  --w-switch-bg-color: var(--w-color-border);
  --w-switch-valve-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);

  --w-mask-background-color: rgba(0, 0, 0, 0.45);

  --w-tree-item-hover-color: var(--w-color-bg);
  --w-tree-item-current-color: var(--w-color-primary-5);
  --w-tree-icon-color: #99b8ff;

  --w-popup-min-width: 420px;
  --w-popup-min-height: 50px;
  --w-popup-border-color: transparent;

  --w-notice-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --w-notice-cubic-bezier: cubic-bezier(0.01, 0.7, 0.1, 1.2);

  --w-form-item-width: 180px;
  --w-form-item-disabled-color: var(--w-color-font-5);
  --w-form-item-border-color: var(--w-color-border);
  --w-form-item-border-color-focus: var(--w-color-primary-3);

  --w-choose-background: white;
  --w-choose-item-gackground-active: var(--w-color-primary-3);

  --w-fade-white-background-color: rgba(255, 255, 255, 0.7);
  --w-fade-black-background-color: rgba(0, 0, 0, 0.45);

  --w-sheet-container-border-color: var(--w-color-border);
  --w-sheet-thead-background-color: var(--w-color-font-5);
  --w-sheet-tr-background-color: white;
  --w-sheet-tr-checked-background-color: #fffcda;
  --w-sheet-tr-highlight-background-color: var(--w-color-primary-5);
  --w-sheet-tr-stripe-color: #f9f9f9;
  --w-sheet-tr-hover-color: var(--w-color-primary-5);
  --w-sheet-thead-th-border-color: var(--w-color-border);
  --w-sheet-td-border-color: var(--w-color-font-5);
  --w-sheet-td-padding: 5px var(--w-gap);
  --w-sheet-td-narrow-padding: 3px;
  --w-sheet-tfoot-background-color: white;
  --w-sheet-tfoot-th-border-color: var(--w-color-font-5);

  --w-date-picker-panel-width: 240px;
  --w-date-picker-panel-height: 240px;
}
