.w-list {
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  & .w-list-fallback {
    min-height: 70px;
    overflow: hidden;
  }
}
/* 给以下class加overflow:hidden会导致抖动！ */
.w-list-item {
  height: var(--w-size);
  line-height: var(--w-size);
  padding: 0 var(--w-padding-x);
  color: var(--w-color-font-2);
  cursor: pointer;
  display: block;
  transition: var(--w-transition-time);
  &.w-list-item-disabled {
    color: var(--w-color-disabled);
    cursor: not-allowed;
  }
  &:hover {
    &:not(.w-list-item-disabled) {
      color: var(--w-color-primary);
    }
  }
  &.w-list-item-active {
    color: var(--w-color-primary);
    background-color: var(--w-color-primary-5);
  }
}
