.w-transfer-list-enter-active,
.w-transfer-list-leave-active {
  transition: all var(--w-transition-slow-time) var(--w-cubic-bezier);
}

/* .w-transfer-list-leave-to {
  transform: scale(0, 0);
} */
.w-transfer-list-move {
  transition: all var(--w-transition-slow-time) var(--w-cubic-bezier);
}
.w-transfer {
  /* display: flex;
  align-items: stretch;
  flex-wrap: nowrap; */
  position: relative;
  /* overflow: hidden; */
  &.w-transfer-x {
    /* flex-direction: row; */
    &.w-transfer-push {
      /* justify-content: flex-end; */
      & .w-transfer-list-enter-from {
        transform: translate(100%, 0);
      }
      & .w-transfer-list-enter-to {
        transform: translate(0, 0);
      }
      & .w-transfer-list-leave-from {
        transform: translate(0, 0);
      }
      & .w-transfer-list-leave-to {
        transform: translate(0, 100%);
      }
    }
    &.w-transfer-unshift {
      justify-content: flex-start;
      & .w-transfer-list-enter-from {
        transform: translate(-100%, 0);
      }
    }
  }
  &.w-transfer-y {
    flex-direction: column;
    &.w-transfer-push {
      justify-content: flex-end;
      & .w-transfer-list-enter-from {
        transform: translate(0, 100%);
      }
    }
    &.w-transfer-unshift {
      justify-content: flex-start;
      & .w-transfer-list-enter-from {
        transform: translate(0, -100%);
      }
    }
  }
  & .w-transfer-item {
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    position: absolute;
    outline: 2px solid red;
  }

  /* & .w-transfer-list-enter-from {

  } */
}
