.w-layer-content {
  --_layer-border-color: var(--w-color-border);
  --_layer-background-color: white;
  /* 箭头位置 */
  --_layer-arrow-x: 5px;
  --_layer-arrow-y: 5px;
  /* 箭头尺寸 */
  --_layer-arrow-size: 4px;
  /* 箭头和trigger之间的距离微调 */
  --_layer-arrow-gap: 1px;
  /* 字的颜色 */
  --_layer-color: var(--w-color-font-3);
  border: 1px solid var(--_layer-border-color);
  max-height: 100%;
  border-radius: var(--w-radius);
  position: absolute;
  color: var(--_layer-color);
  box-shadow: var(--w-box-shadow);
  background-color: var(--_layer-background-color);
  transform-origin: var(--_layer-arrow-x) var(--_layer-arrow-y);
  &:after,
  &:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: var(--_layer-arrow-size);
    border-style: solid;
    border-color: transparent;
  }
  &.w-layer-no-arrow {
    &:after,
    &:before {
      display: none;
      /* opacity: 0; */
    }
  }
  &.w-layer-center {
    transform-origin: center center;
  }
  &.w-layer-client-center {
    /* 因为是在视窗范围内居中，所以应该fixed定位 */
    position: fixed;
  }
  &.w-layer-bottom,
  &.w-layer-bottom-start,
  &.w-layer-bottom-end {
    &:before {
      left: var(--_layer-arrow-x);
      top: calc(var(--_layer-arrow-size) * -2 - var(--_layer-arrow-gap));
      border-color: transparent transparent var(--_layer-border-color);
    }
    &:after {
      left: var(--_layer-arrow-x);
      top: calc(var(--_layer-arrow-size) * -2 - var(--_layer-arrow-gap) + 1px);
      border-color: transparent transparent var(--_layer-background-color);
    }
  }
  &.w-layer-top,
  &.w-layer-top-start,
  &.w-layer-top-end {
    &:before {
      left: var(--_layer-arrow-x);
      top: calc(var(--_layer-arrow-y) - var(--_layer-arrow-gap));
      border-color: var(--_layer-border-color) transparent transparent;
    }
    &:after {
      left: var(--_layer-arrow-x);
      top: calc(var(--_layer-arrow-y) - var(--_layer-arrow-gap) - 1px);
      border-color: var(--_layer-background-color) transparent transparent;
    }
  }
  &.w-layer-left,
  &.w-layer-left-start,
  &.w-layer-left-end {
    &:before {
      left: calc(var(--_layer-arrow-x) - var(--_layer-arrow-gap));
      top: var(--_layer-arrow-y);
      border-color: transparent transparent transparent
        var(--_layer-border-color);
    }
    &:after {
      left: calc(var(--_layer-arrow-x) - var(--_layer-arrow-gap) - 1px);
      top: var(--_layer-arrow-y);
      border-color: transparent transparent transparent
        var(--_layer-background-color);
    }
  }
  &.w-layer-right,
  &.w-layer-right-start,
  &.w-layer-right-end {
    &:before {
      left: calc(var(--_layer-arrow-x) - var(--_layer-arrow-gap) - 1px);
      top: var(--_layer-arrow-y);
      border-color: transparent var(--_layer-border-color) transparent
        transparent;
    }
    &:after {
      left: calc(var(--_layer-arrow-x) - var(--_layer-arrow-gap));
      top: var(--_layer-arrow-y);
      border-color: transparent var(--_layer-background-color) transparent
        transparent;
    }
  }
}
