.w-choose-trigger {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--w-size);
  cursor: pointer;
  user-select: none;
  padding: 0 var(--w-padding-x);
  outline: 0;
  transition: var(--w-transition-time);

  &.w-choose-disabled {
    cursor: not-allowed;
  }
  & .w-choose-close-btn {
    font-size: 12px;
  }
  & .w-choose-arrow-btn {
    pointer-events: none;
  }
  & .w-choose-text {
    color: var(--w-color-font-2);
    flex: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--w-font-size);
  }
  &.w-choose-mode-default {
    background-color: var(--w-choose-background);
    border-radius: var(--w-radius);
    border: 1px solid var(--w-form-item-border-color);
    width: var(--w-form-item-width);
    &.w-choose-block {
      display: flex;
      width: auto;
    }
    &:hover,
    &.w-choose-spread {
      border-color: var(--w-form-item-border-color-focus);
    }
  }
  &.w-choose-mode-text {
    & .w-choose-text {
      width: auto;
    }
  }
}

.w-choose-layer {
  background-color: var(--w-choose-background);
  max-height: 360px;
  overflow: hidden auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 给以下class加overflow:hidden会导致抖动！ */
.w-choose-item {
  height: var(--w-size);
  line-height: var(--w-size);
  padding: 0 var(--w-padding-x);
  color: var(--w-color-font-2);
  cursor: pointer;
  display: block;
  transition: var(--w-transition-time);
  &.w-choose-item-disabled {
    color: var(--w-color-disabled);
    cursor: not-allowed;
  }
  &:hover {
    &:not(.w-choose-item-disabled) {
      color: var(--w-color-primary);
    }
  }
  &.w-choose-item-active {
    color: var(--w-color-primary);
    background-color: var(--w-color-primary-5);
  }
}
